@charset "utf-8";
*{margin:0;padding:0;}
a,img{border:0;}
.demo{width:720px;margin:30px auto;}
.demo h2{width:800px;font-size:16px;color:#3366cc;height:30px;}
.demo ul{list-style-type:none;}
.demo li{float:left;}
.text,.button{background:url(../img/spis_031ddf34.png) no-repeat;}
.text{width:529px;height:22px;padding:4px 7px;padding:6px 7px 2px\9;font:16px arial;border:1px solid #cdcdcd;border-color:#9a9a9a #cdcdcd #cdcdcd #9a9a9a;vertical-align:top;outline:none;margin:0 5px 0 0;}
.button{width:95px;height:32px;padding:0;padding-top:2px\9;border:0;background-position:0 -35px;background-color:#ddd;cursor:pointer}
.result{width:680px;margin:30px auto;}
.result li{font-size:18px}

