<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浙江大学 网站导航搜索</title>
<!--
<link rel="stylesheet" href="css/jquery.bigautocomplete.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.bigautocomplete.js"></script>
<script type="text/javascript" src="js/query_data.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.bigautocomplete.css" type="text/css" />
    <script type="text/javascript" src="../static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../static/jquery.bigautocomplete.js"></script>
    <script type="text/javascript" src="../static/query_data.js"></script>
    -->

<link rel="stylesheet" href="../static/img/spis_031ddf34.png" />
<link rel="stylesheet" href="../static/css/jquery.bigautocomplete.css" type="text/css" />
<link rel="stylesheet" href="../static/css/view.css" type="text/css" />
<script type="text/javascript" src="{{url_for('static', filename='jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.bigautocomplete.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='query_data.js')}}"></script>
</head>

<body>
<br>
<br>
<br>
<br>
<br>
<div class="demo"> <img src="../static/img/logo.png" /> </div>
<div class="demo">
	<form action="result" method="post" name="searchform" id="searchform" class="searchinfo">
		<ul>
			<li><input type="text" id="tt" name="search_content" autocomplete="off" value="" class="text" /></li>
			<li><input type="submit" value="搜索" class="button" /></li>
		</ul>
	</form>
</div>
</body>
</html>
