" class="text" /></li>
            <li><input type="submit" id="btn" value="搜索" class="button" /></li>
        </ul>
    </form>
</div>
<br>
<div class="demo">
    <h2>搜索结果如下：</h2>
</div>
<div class="result">
    <ul type="circle">