<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>浙江大学　网站导航搜索</title>
<link rel="stylesheet" href="../static/img/spis_031ddf34.png" />
<link rel="stylesheet" href="../static/css/jquery.bigautocomplete.css" type="text/css" />
<link rel="stylesheet" href="../static/css/view.css" type="text/css" />
<script type="text/javascript" src="{{url_for('static', filename='jquery-1.7.2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.bigautocomplete.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='query_data.js')}}"></script>
<style type="text/css">
    ul.circle {list-style-type:circle}
    ul.square {list-style-type:square}
    ul.none {list-style-type:none}
</style>
</head>

<body>
<div class="demo"> <img src="../static/img/46860_1.png" /> </div>
<div class="demo">
    <form action="result" method="post" name="searchform" id="searchform" class="searchinfo">
        <ul>
            <li><input type="text" id="tt" name="search_content" value="
求是潮" class="text" /></li>
            <li><input type="submit" id="btn" value="搜索" class="button" /></li>
        </ul>
    </form>
</div>
<br>
<div class="demo">
    <h2>搜索结果如下：</h2>
</div>
<div class="result">
    <ul type="circle"><li><a target="_blank" href=http://www.qsc.zju.edu.cn><font color="#FF0000">求是潮</font></a></li>
    </ul>
</div>
</body>
</html>
